In [15]:
import numpy as np
import pandas as pd
import tensorflow as tf
import keras
from keras.models import Sequential
from keras.layers import Dense

In [16]:
df = pd.read_csv('D:/Programing_works/6th_semester_work/Python/lab_8_21_mar/winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [17]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [19]:
get_ipython().run_line_magic('matplotlib','inline')

In [20]:
import matplotlib.pyplot as plt
# df.hist(bins=50, figsize=(20, 15))

In [21]:
train_df = df.sample(frac=0.75, random_state=4)
# 75% of data is selected

val_df = df.drop(train_df.index)

In [22]:
# calling the (0,1) range scalling
max_val = train_df.max(axis = 0)
min_val = train_df.min(axis = 0)
range = max_val - min_val
train_df = (train_df - min_val)/(range)
val_df = (val_df - min_val)/range

X_train = train_df.drop('quality', axis=1)
X_val = val_df.drop('quality', axis=1)
y_train = train_df['quality']
y_val = val_df['quality']
input_shape = [X_train.shape[1]]

model = tf.keras.Sequential([
    tf.keras.layers.Dense(units=64, activation='relu', input_shape=input_shape),
    tf.keras.layers.Dense(units=32, activation='relu'),
    tf.keras.layers.Dense(units=1)
])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                768

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,881
Trainable params: 2,881
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam', loss='mae')
losses = model.fit(X_train, y_train, 
                   validation_data=(X_val, y_val), 
                   batch_size = 100, 
                   epochs=100
                   )

Epoch 1/100
12/12 [==============================] - 1s 35ms/step - loss: 0.2703 - val_loss: 0.1284
Epoch 2/100
12/12 [==============================] - 0s 8ms/step - loss: 0.1472 - val_loss: 0.1263
Epoch 3/100
12/12 [==============================] - 0s 8ms/step - loss: 0.1245 - val_loss: 0.1214
Epoch 4/100
12/12 [==============================] - 0s 8ms/step - loss: 0.1183 - val_loss: 0.1141
Epoch 5/100
12/12 [==============================] - 0s 8ms/step - loss: 0.1112 - val_loss: 0.1096
Epoch 6/100
12/12 [==============================] - 0s 8ms/step - loss: 0.1089 - val_loss: 0.1090
Epoch 7/100
12/12 [==============================] - 0s 8ms/step - loss: 0.1070 - val_loss: 0.1063
Epoch 8/100
12/12 [==============================] - 0s 8ms/step - loss: 0.1054 - val_loss: 0.1048
Epoch 9/100
12/12 [==============================] - 0s 8ms/step - loss: 0.1040 - val_loss: 0.1043
Epoch 10/100
12/12 [==============================] - 0s 8ms/step - loss: 0.1027 - val_loss: 0.1030
Epoch 11/100
12/12 [==============================] - 0s 8ms/step - loss: 0.1017 - val_loss: 0.1026
Epoch 12/100
12/12 [==============================] - 0s 9ms/step - loss: 0.1007 - val_loss: 0.1018
Epoch 13/100
12/12 [==============================] - 0s 10ms/step - loss: 0.1000 - val_loss: 0.1023
Epoch 14/100
12/12 [==============================] - 0s 9ms/step - loss: 0.0995 - val_loss: 0.1017
Epoch 15/100
12/12 [==============================] - 0s 9ms/step - loss: 0.0983 - val_loss: 0.1009
Epoch 16/100
12/12 [==============================] - 0s 8ms/step - loss: 0.0978 - val_loss: 0.1006
Epoch 17/100
12/12 [==============================] - 0s 9ms/step - loss: 0.0975 - val_loss: 0.1003
Epoch 18/100
12/12 [==============================] - 0s 8ms/step - loss: 0.0974 - val_loss: 0.1009
Epoch 19/100
12/12 [==============================] - 0s 8ms/step - loss: 0.0968 - val_loss: 0.1005
Epoch 20/100
12/12 [==============================] - 0s 9ms/step - loss: 0.0959 - val_loss: 0.0995
Epoch 21/100
12/12 [==============================] - 0s 9ms/step - loss: 0.0956 - val_loss: 0.0995
Epoch 22/100
12/12 [==============================] - 0s 9ms/step - loss: 0.0959 - val_loss: 0.1017
Epoch 23/100
12/12 [==============================] - 0s 8ms/step - loss: 0.0963 - val_loss: 0.1007
Epoch 24/100
12/12 [==============================] - 0s 8ms/step - loss: 0.0944 - val_loss: 0.0990
Epoch 25/100
12/12 [==============================] - 0s 8ms/step - loss: 0.0942 - val_loss: 0.0990
Epoch 26/100
12/12 [==============================] - 0s 8ms/step - loss: 0.0942 - val_loss: 0.0984
Epoch 27/100
 1/12 [=>............................] - ETA: 0s - loss: 0.0933

In [21]:
X_val.iloc[121:124, :]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
540,0.407080,0.321918,0.303797,0.165517,0.148581,0.267606,0.144876,0.640969,0.347826,0.206061,0.184615
543,0.584071,0.369863,0.303797,0.110345,0.121870,0.211268,0.166078,0.677680,0.173913,0.236364,0.400000
548,0.690265,0.157534,0.620253,0.117241,0.111853,0.366197,0.222615,0.685022,0.226087,0.254545,0.307692

In [ ]:
model.predict(X_val.iloc[121:124,:])

In [ ]:
y_val.iloc[121:124]

In [ ]:
loss_df = pd.DataFrame(losses.history)


loss_df.loc[:,['loss', 'val_loss']].plot()

In [ ]:
type(losses.history)

In [ ]:
losses.history

In [ ]:
loss_df